<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <appSettings>
        <add key="OpenPath" value="TextRead.txt"/>
        <add key="SavePath" value="TextResult.txt"/>
        <add key="Ports" value="Ports.json"/>
        <add key="Subscribers" value="Subscribers.json"/>
        <add key="Terminals" value="Terminals.json"/>
    </appSettings>
</configuration>